body {
    background-color: #1F1F1F;
    color: white;
    font-size: 18px;
}

.bio {
    width: 1000px;
    margin-inline: auto;
    padding-top: 100px;
}

.bio div {
    padding-top: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
}

.abilities img {
    width: 80px;
    padding-bottom: 10px;
    padding-inline: 50px;
}

.abilities div {
    text-align: center;
    width: 120px;
    margin: auto;
}

.desc {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 100px;
}