.bio-container {
  min-height: 200px;
  width: 1000px;
  margin-inline: auto;
  padding-top: 200px;
  display: flex;
}

.bio {
  min-width: 800px;
}

.character-name {
  font-size: 60px;
  font-variant: small-caps;
  font-weight: bold;
  font-style: italic;
}

.difficulty {
  float: right;
}

.difficulty img {
  vertical-align: middle;
  transform: translate(0px, -2px);
}

.hidden {
  opacity: 0%;
}

.abilities {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.abilities span {
  width: 160px;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid transparent;
  margin: auto;
  cursor: pointer;
}

.circle-unselected {
  border-color: grey;
}

.circle-selected {
  border-color: var(--light);
}

.circle-ascendant {
  background-image: linear-gradient(var(--dark), var(--dark)), var(--ascendant);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ability-text {
  padding-top: 5px;
  text-align: center;
  margin: auto;
  width: 140px;
  font-variant: small-caps;
  cursor: pointer;
}

.ability-img {
  padding-top: 5px;
  margin: auto;
  height: 30px;
  cursor: pointer;
}

.ability-img-kit {
  display: block;
}

.ability-img-desc {
  display: inline-block;
  vertical-align: middle;
  transform: translate(0px, -4px);
}

.ability-text-unselected {
  color: grey;
}

.ability-text-selected {
  color: var(--light);
}

.desc {
  text-align: center;
  width: 1000px;
  margin: auto;
  padding-top: 60px;
}