.bio-container {
  min-height: 240px;
  width: 1000px;
  margin: auto;
  padding-top: 200px;
  display: flex;
}

.bio {
  min-width: 800px;
}

.character-name {
  font-size: 60px;
  font-variant: small-caps;
  font-weight: bold;
  font-style: italic;
}

.difficulty {
  float: right;
}

.difficulty img {
  vertical-align: middle;
  transform: translate(0px, -2px);
}

.music {
  display: flex;
  gap: 10px;
}

.abilities {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 20px
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid transparent;
}

.circle-ascendant {
  background-image: linear-gradient(var(--dark), var(--dark)), var(--ascendant);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.circle-white {
  border-color: var(--light);
}

.unselected {
  opacity: 60%;
}

.more-unselected {
  opacity: 25%;
}

.ability-text {
  width: 140px;
  font-variant: small-caps;
  white-space: pre-wrap;
}

.ability-img {
  padding-top: 10px;
  height: 30px;
}

.ability-img-kit {
  display: block;
  cursor: pointer;
}

.ability-img-desc {
  display: inline-block;
  vertical-align: middle;
  transform: translate(0px, -5px);
}

.desc {
  width: 1000px;
  padding-top: 60px;
  line-height: 30px;
}