.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-title {
  width: 240px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.header-characters {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, var(--light) 50%, grey);
    flex-grow: 1;
    border-radius: 5px;
}

a {
  text-decoration: none;
  color: var(--dark);
}

.header-item {
  padding-inline: 20px;
  min-width: 40px;
  text-align: center;
}

.header-item-selected {
  background-color: grey;
}