.title {
    width: 600px;
    font-size: 100px;
    font-weight: bold;
    padding-top: 200px;
}

.subtitle {
    
}

.platforms {
    text-align: center;
}

.platforms img {
    display: inline-block;
    text-align: center;
    height: 140px;
}