:root {
  --dark: #1F1F1F;
  --light: whitesmoke;
  --ascendant: linear-gradient(
    to right,
    #FEAC5E,#C779D0,#4BC0C8
  );
  /* https://gradient.page/ui-gradients/atlas */
  background-color: var(--dark);
  color: var(--light);
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.ascendant {
  background: var(--ascendant);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ascendant-italics i {
  background: var(--ascendant);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pointer {
  cursor: pointer;
}

.center {
  text-align: center;
  margin: auto;
}